<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-6">
      <cc-color-selector
        [color]="color"
        (selectedColor)="updateColors($event)"
      ></cc-color-selector>
    </div>
    <div class="col-12 col-md-6 d-flex align-items-center main-color-box">
      <cc-color-box [color]="color"></cc-color-box>
    </div>
  </div>
  <hr />
  <!-- Complementary -->
  <div class="row">
    <div class="col-2 d-flex align-items-center">
      <p class="mb-0">Complementary</p>
    </div>
    <div class="col-6 offset-4">
      <cc-color-box
        [color]="complementaryColor"
        (click)="updateColors(complementaryColor)"
      ></cc-color-box>
    </div>
  </div>
  <hr />
  <!-- Split compementary -->
  <div class="row">
    <div class="col-2 d-flex align-items-center">
      <p class="mb-0">Split Complementary</p>
    </div>
    <div class="col-6 offset-4">
      <cc-color-box
        [color]="splitCompColor"
        [isSameMainColor]="tc.equals(color, splitCompColor)"
        (click)="updateColors(splitCompColor)"
        *ngFor="let splitCompColor of splitComplementaryColors"
      ></cc-color-box>
    </div>
  </div>
  <hr />
  <!-- Triad -->
  <div class="row">
    <div class="col-2 d-flex align-items-center">
      <p class="mb-0">Triad</p>
    </div>
    <div class="col-6 offset-4">
      <cc-color-box
        [color]="triad"
        [isSameMainColor]="tc.equals(color, triad)"
        (click)="updateColors(triad)"
        *ngFor="let triad of triadColors"
      ></cc-color-box>
    </div>
  </div>
  <hr />
  <!-- Tetrad -->
  <div class="row">
    <div class="col-2 d-flex align-items-center">
      <p class="mb-0">Tetrad</p>
    </div>
    <div class="col-6 offset-4">
      <cc-color-box
        [color]="tetrad"
        [isSameMainColor]="tc.equals(color, tetrad)"
        (click)="updateColors(tetrad)"
        *ngFor="let tetrad of tetradColors"
      ></cc-color-box>
    </div>
  </div>
  <hr />
  <!-- Analogous -->
  <div class="row">
    <div class="col-2 d-flex align-items-center">
      <p class="mb-0">Analogous</p>
    </div>
    <div class="col-6 offset-4">
      <cc-color-box
        [color]="analogous"
        [isSameMainColor]="tc.equals(color, analogous)"
        (click)="updateColors(analogous)"
        *ngFor="let analogous of analogousColors"
      ></cc-color-box>
    </div>
  </div>
  <hr />
  <!-- Monochromatic -->
  <div class="row">
    <div class="col-2 d-flex align-items-center">
      <p class="mb-0">Monochromatic</p>
    </div>
    <div class="col-6 offset-4">
      <cc-color-box
        [color]="monochromatic"
        [isSameMainColor]="tc.equals(color, monochromatic)"
        (click)="updateColors(monochromatic)"
        *ngFor="let monochromatic of monochromaticColors"
      ></cc-color-box>
    </div>
  </div>
  <hr />
  <!-- Greyscale -->
  <div class="row pb-1">
    <div class="col-2 d-flex align-items-center">
      <p class="mb-0">Greyscale</p>
    </div>
    <div class="col-6 offset-4">
      <cc-color-box
        [color]="greyscaleColor"
        (click)="updateColors(greyscaleColor)"
      ></cc-color-box>
    </div>
  </div>
</div>
